.filterList-css {
  margin-left: 100px;
  margin-top: 100px;
  text-align: left;
  /* color: blueviolet; */
} 

ul {
    list-style: none;
  }


.listitem {
  color: aqua;
  font-style: italic;
  border: black;
  border-style: solid;
  margin: 18px 0px;
  border-width: 1px;
  width: 270px;
  height: 30px;
}