// landing page
body {
  height: 100vh;
  overflow: hidden;
}
.cp{
  cursor: pointer;
}
a,a:hover{
  text-decoration: none !important;
}
  /* width */
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--panel-bg-color);
        border-radius: 10px;
      }
.landing-container {
  display: flex;

  // sidepanel

  .sidepanel {
    padding: 30px 0;
    background: var(--panel-bg-color);
    flex: 0 0 265px;
    max-width: 265px;
    transition: all 0.3s linear;
    height: 100vh;
    .brand-logo {
      width: 163px;
      height: 20px;
      overflow: hidden;
      padding-left: 20px;
      margin-bottom: 37px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .list-section {
      .list-wrapper {
        .list-item {
          padding: 16px 20px;
          cursor: pointer;
          transition: all 0.3s linear;
          white-space: nowrap;
          .icon {
            margin-right: 16px;
            display: inline-block;
            width: 14px;
            transition: all 0.3s linear;
            color: var(--text-dim-color);
          }
          .text {
            font-size: 14px;
            font-weight: $font-medium;
            font-family: $roboto;
            color: var(--text-dim-color);
            transition: all 0.3s linear;
            text-decoration: none;
          }
          &:hover {
            background: var(--bg-highlight);
            .icon {
              color: var(--primary-color);
            }
            .text {
              color: var(--primary-color);
              // font-weight: $font-semibold;
            }
          }
        }
      }
    }
  }

  .content-container {
    width: calc(100% - 265px);
    background: var(--body-bg);

    // header section css goes here

    .header-section {
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.04);
      background: var(--primary-color);
      // margin-bottom: 10px;
      // height: 108px;
      .header-primary {
        padding: 24px 15px 12px 22px;
        border-bottom: 1px solid var(--border-color);
        .burger-icon {
          i {
            font-size: 20px;
            color: var(--panel-bg-color);
          }
        }
        .avatar-wrapper{
          display: flex;
          align-items: center;
            .avatar-icon{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              overflow: hidden;
              img{
                width: 100%;
              }
            }
            .dropdown{
              button{
                background: transparent;
                border: none;
                color: var(--icon-shade);
                font-size: 16px;
                font-family: $poppins;
                &:focus{
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          
        }
      }
      .header-secondary {
        padding: 5px 22px 5px 28px;
        .title-text {
          font-family: $poppins;
          font-size: 16px;
          font-weight: $font-semibold;
          color: var(--panel-bg-color);
        }
        .header-filter-wrapper {
          .filter-main {
            margin-right: 20px;
            .dropdown{
              button{
                background: transparent;
                color: var(--text-medium);
                font-size: 12px;
                font-weight: $font-semibold;
                font-family: $poppins;
                border-radius: 50px;
                border: 1px solid var(--border);
                position: relative;
                padding: 5px 40px 5px 40px;
                &::before,&::after{
                   position: absolute;
                  top: 50%;
                   transform: translateY(-50%);
                   font-family: 'icomoon' !important;
                   font-size: 12px;
                }
                &::before{
                   content: "\e907";
                   left: 20px;
                   
                }
                &::after{
                  content: "\e904";
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  border: none;
                  font-size: 6px;
                  transform: translateY(-50%);
                  
                }
                &:focus{
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          }
          .filter-sec{
            font-size: 20px;
            line-height: 1.2;
            color: var(--icon-shade);
          }
        }
      }
    }
    .scroll-box {
      height: calc(100vh - 145px);
      overflow: auto;
    }
    // graph tile section

    .main-content-wrapper {
      padding: 10px 20px;
      .graph-wrapper {
        padding: 12px 15px 15px 15px;
        box-shadow: 0 4x 4px var(--tile-shadow);
        background: var(--primary-color);
        border-radius: 6px;
        margin-bottom: 10px;
        .heading-wrapper{
          margin-bottom: 14px;
        }
        .graph {
          padding: 12px 15px;
          background: var(--graph-bg);
          border-radius: 6px;
          border: 1px solid var(--border);
          height: 100%;
          
          .recharts-wrapper {
            height: 300px !important;
            width: 100% !important;
            .recharts-surface {
              width: 100%;
            }
          }
           ul{
             li{
               .recharts-legend-item-text{
                 font-size: 10px;
                 font-family: $roboto;
                 font-weight:$font-medium;
                 color:var(--graph-sub-text);
                 text-transform: capitalize;
               }
             }
           }
         
        }
      }
    }
  }

  &.min {
    .sidepanel {
      flex: 0 0 50px;
      max-width: 50px;
    }
  }
}

// grid layout styles
.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 10px;

  .item {
    min-height: 50px;
    height: 100%;
    &.item1 {
      //   background: red;
      grid-column-start: 1;
      grid-column-end: 2;
    }
    &.item2 {
      //   background: blue;
      grid-column-start: 2;
      grid-column-end: 3;
    }
    &.item3 {
      //   background: green;
      grid-column-start: 3;
      grid-column-end: 4;
    }
  }

  &.layout1 {
    .item1 {
      grid-column-start: 1;
      grid-column-end: 6;
    }
    .item2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
    }
    .item3 {
      grid-column-start: 3;
      grid-column-end: 6;
    }
  }
  &.layout2 {
    .item1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: span 2;
    }
    .item2 {
      grid-column-start: 3;
      grid-column-end: 6;
    }
    .item3 {
      grid-column-start: 3;
      grid-column-end: 6;
    }
  }

  &.layout3 {
    .item1 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 2;
    }
    .item2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .item3 {
      grid-column-start: 3;
      grid-column-end: 6;
    }
  }
}

// common text sizes
.graph-title {
  font-size: 12px;
  font-weight: $font-semibold;
  font-family: $poppins;
  color: var(--panel-bg-color);
  // margin-bottom: 20px;
}
.sub-heading {
  font-size: 13px;
  font-weight: $font-semibold;
  font-family: $poppins;
  color: var(--panel-bg-color);
  margin-bottom: 0;
}
.icon-layout-switch{
  color: var(--icon-shade);
}

// landing table styles





// filter button section

.filter-btn-section{
  background:var(--primary-color);
  border-radius: 6px;
  box-shadow: 0 4px 4px var(--tile-shadow);
  margin-bottom: 10px;
  .heading-wrapper{
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid var(--light-border);
    // margin-bottom: 10px;
  }
  .btn-container{
    .btn-list-wrapper{
      padding-left: 0;
      list-style: none;
      display: flex;
      align-items: center;
      padding: 0 20px;
      margin-bottom: 10px;
      overflow-x: auto;
      .list-item{
        padding: 10px 20px;
        border-right: 1px solid var(--light-border);
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background: var(--bg-blue);
          border-radius: 2px;
          transition: all 0.3s ease-in;
        }
        .btn-text-wrapper{
          margin-left: 10px;
        }
        .list-link{
          font-size: 12px;
          font-family: $roboto;
          font-weight: $font-medium;
          color: var(--gray-text);
          margin-right: 5px;
          text-decoration: none;
          transition: all 0.3s ease-in;

        }
        .badge{
          font-size: 12px;
          font-weight: $font-bold;
          font-family: $roboto;
          color: var(--gray-text);
          padding: 3px 5px;
          background: var(--of-white);
         transition: all 0.3s ease-in;
        }
        &.active, &:hover{
          &::before{
            width: 100%;
          }
          .list-link{
            color: var(--panel-bg-color);
            font-weight: $font-medium;
          }
          .badge{
            background: var(--bg-blue);
            color: var(--primary-color);
          }
        }
      }
    }
  }
}



// decision engine filter

.decision-engine-filter{
  padding: 12px 15px;
  border-radius: 6px;
  box-shadow: 0 4x 4px var(--tile-shadow);
  background: var(--primary-color);
  margin-bottom: 10px;

  .title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .text-area{
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-filter{
        color: var(--icon-shade-medium);
        margin-right: 13px;
        font-size: 12px;
      }
      .text{
        color: var(--panel-bg-color);
        font-size: 13px;
        font-weight: $font-semibold;
        font-family: $poppins;
      }
    }
  }
  .filter-row{
    margin: 0 -8px;
    .filter-col{
          flex: 0 0 20%;
          max-width: 20%;

          padding: 0 8px;
          .filter-item{
            .form-group{
              margin-bottom: 0;
            }
            .form-label{
              font-size: 11px;
              font-weight: $font-regular;
              font-family: $roboto;
              margin-bottom: 5px;
              color: var( --gray-text);
            }
            select{
              font-size: 13px;
              font-family: $roboto;
              font-weight: $font-regular;
              color: var(--select-text);
              border:1px solid var(--select-border);
              background: var(--select-bg);
              border-radius: 6px;
              height: 35px;
              &:focus{
                outline: none;
                box-shadow: none;
              }
            }
          }
    }
  }
}


// data table container

.data-table-container{
  padding: 15px;
  border-radius:6px;
  box-shadow: 0 4px 4px var(--tile-shadow);
  margin-bottom: 10px;
  background: var(--primary-color);
  position: relative;
  min-height: 500px;
  .table-header-container{
    margin-bottom: 20px;
    .left-section{
      .table-heading{
        color: var(--panel-bg-color);
        font-size: 15px;
        font-weight: $font-semibold;
        font-family: $poppins;
        margin-right: 16px;
        margin-bottom: 0;
      }
      .count{
        margin-right: 12px;
        .total{
          color:var(--gray-text);
          font-size:12px;
          font-weight:$font-semibold;
          font-family:$poppins;
          margin-bottom: 0;
          .value{
            font-size: 11px;
            font-weight: $font-semibold;
            color: var(--panel-bg-color);
          }
        }
      }
      .search-wrapper{
        background:var(--select-bg);
        border-radius: 6px;
        border: 1px solid var(--border);
        font-size: 11px;
        font-weight: 400;
        font-family: $poppins;
        color: var(--gray-text);
        position: relative;
        display: flex;
        align-items: center;
        
        input{
          border: none;
          background: transparent;
          height: 35px;
          padding:8px 10px 8px 15px ;
          &:focus{
            outline: none;
          }
        }
        .icon-search{
          margin-right: 10px;
          font-size: 12px;
        }
      }
    }
    .right-section{
      .current-result{
        margin-right: 5px;
        font-size: 12px;
        font-weight: $font-regular;
        color: var(--gray-text);
        font-family: $poppins;
      }
      .pagination-wrapper{
        margin-right: 20px;
        .MuiPagination-ul{
          li{
            button{
              font-size: 12px;
              font-weight: $font-medium;
              font-family: $poppins;
              color: var( --icon-shade);
              transition: all 0.3s linear;
              margin: 0;
              &:focus{
                outline: none;
              }
              &.Mui-selected{
                background: var(--sky-blue);
                color: var(--bg-blue);
              }
            }
          }
        }
      }
    }
  }
.rdt_TableHeader{
  display: none;
}
}




// component-loader
.loader-comp-wrapper{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

.loader-comp {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  &::after,&::before{
  content: '';  
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--bg-blue);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
  }
  &::after{
  animation-delay: 1s;
  }
}
}
@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
    


.checkbox {
  position: relative;
  font-size: 14px;
  width: 16px;
  
  label {
   &:before {
    background: var(--primary-color);
    border: 1px solid var(--check-border);
    cursor: pointer;
    border-radius:3px;
    content: '';
    height: 16px;
    width: 16px;
    left: 0px;
    position: absolute;
    top: 3px;
    }
   
    &:after {
    border: 2px solid #FFF;
    border-top: none;
    border-right: none;
    cursor: pointer;
    content: '';
    height: 5px;
    left: 3px;
    opacity: 0;
    position: absolute;
    top: 7px;
    transform: rotate(-45deg);
    width: 10px;
    transition: all 0.3s linear;
    }
  }
  
  input[type="checkbox"] {
    visibility: hidden;
    
    &:checked {
     & + label:before {
        background: var(--bg-blue);
        border: var(--bg-blue);
      }
      
     & + label:after {
       opacity: 1;
      }
    }
  }
}

.recharts-legend-wrapper{
  width: 100% !important;
}

// custom modal

.modal-content{
  border-radius: 15px !important;
  border: none;
}
.modal-body{
  padding: 15px 30px 30px 20px !important;
}
.filter-flex-container{
    .heading-wrapper{
      margin-bottom: 10px;
        .heading{
            color: var(--panel-bg-color);
            font-size: 15px;
            font-weight:600;
            font-family: $poppins;
            margin-bottom: 6px;
        }
        .sub-heading{
            font-size: 11px;
            font-weight: $font-regular;
            font-family: $poppins;
            color: var(--gray-text);
        }
    }
    .custom-filter-search-wrapper{
      background: var(--select-bg);
      border-radius: 6px;
      padding: 9px 12px;
      margin-bottom: 9px;

      input{
        background: transparent !important;
        border: none !important;
        padding: 0 !important;
        font-size: 11px !important;
        font-weight: $font-regular;
        font-family: $poppins;
        color: var(--shade-icon);
        height: 25px;
        &:focus{
          outline: none;
          box-shadow: none;
        }
      }
      button{
        background: transparent;
        border: none;
        padding: 0;
        text-align: right;
        &:hover{
          background: transparent;
        }
        &:focus{
          outline: none;
        }
        i{
        color: var(--shade-icon);
        }
      }

    }
    .filterList-css{
     ul{
        padding-left: 0;
      list-style: none;
      margin-bottom: 30px;
      li{
        border-radius: 5px;
        padding: 5px 12px 5px 9px;
        margin-bottom: 6px;
        border:1px solid var(--of-white);
        font-size: 12px;
        font-weight: $font-semibold;
        color: var(--panel-bg-color);
        position: relative;

        input{
          margin-right: 8px;
        }
      }
     }
    }
    .filter-footer-btn-wrapper{
      text-align: center;
      .btn-cancel{
        background: var(--body-bg);
        border-radius: 40px;
        font-size: 11px;
        font-weight: $font-medium;
        color: var(--gray-text);
        font-family: $poppins;
        margin-right: 15px;
        width: 98px;
        height: 30px;
        border: none;
        &:focus{
          outline: none;
          box-shadow: none;
        }
      }
      .apply-btn{
        @extend .btn-cancel;
        background: var(--bg-blue);
        color: var(--primary-color);
      }
    }
}