


html {
  --panel-bg-color: #1E1E2D;
  --primary-color: #FFF;
  --text-color: #333;
  --text-dim-color:rgba(225,225,225,0.5);
  --bg-highlight: #25253D;
  --border-color:#f3f3f3;
  --body-bg:#eeeeee;
  --tile-shadow:rgba(225,225,225,0.6);
  --graph-bg:#FBFCFD;
  --border:#EBF0F5;
}