html {
  --panel-bg-color: #1E1E2D;
  --primary-color: #FFF;
  --text-color: #333;
  --text-dim-color:rgba(225,225,225,0.5);
  --bg-highlight: #25253D;
  --border-color:#f3f3f3;
  --body-bg:#eeeeee;
  --tile-shadow:rgba(225,225,225,0.6);
  --graph-bg:#FBFCFD;
  --border:#EBF0F5;
  --icon-shade:#C2C2C2;
  --light-border:#F8F7F7;
  --of-white:#F5F5F5;
  --gray-text:#888888;
  --bg-blue:#523AE3;
  --sky-blue:#DBEAFF;
  --text-medium:#6D6D6D;
  --border:#DCDCDC;
  --icon-shade-medium:#636372;
  --select-text:#ABABAB;
  --select-border:#E2E2E2;
  --select-bg:#FCFCFC;
}
