



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

// fonts
$roboto:'Roboto', sans-serif;
$poppins:'Poppins', sans-serif;

// color palette
$white:#fff;
$primary-color:#1E1E2D;
$gray-bg:#eeeeee;



// font-weight
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-extrabold:800;
