.rec-flex-container2 {
    display: flex;
    flex-direction: row;
    border: grey;
    border-style: solid;
    border-width: 1px;
}

.rec-flex-container1 {
    display: flex;
    flex-direction: column;
}


/* .listitem {
    border: black;
    border-style: solid;
    border-width: 1px;
    width: 270px;
    height: 30px;
  } */

/* .rec-box1 {
    border-right: hotpink;
    border-style: solid;
    border-width: 2px;
} */

/* .rec-box2 {
    border-left: hotpink;
    border-style: solid;
    border-width: 1px;
} */