/* .heading {
    position: relative;
  }
  
  .pichart {
    position: absolute;
    bottom: 70px;
  } */

  /* .bar-chart {
    width: 287px;
    height: 279px;
    background: #FBFCFD;
    border: 1px solid #EBF0F5;
    box-sizing: border-box;
    border-radius: 6px;
    left: 47.27%;
    right: 30.31%;
    top: 22.19%;
    bottom: 55.71%;
  }
  
  .bar-chart-title {
    font: roboto;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #1E1E2D;
  }
   */
  /* .bar-chart-graph {
    /* width: 150.82px;
    height: 150.82px; */
    /* top: 333.55px;
    left: 673.67; */
    /* left: 52.63%;
    right: 35.59%;
    top: 26.43%;
    bottom: 61.62%; */
  /* }  */