.chart-section-title {
  width: 187px;
  height: 16px;
  top: 250px;
  left: 300px;
  /* position: absolute;
  left: 23.44%;
  right: 61.95%;
  top: 19.81%;
  bottom: 78.92%; */
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #1E1E2D;
}

.graphs-wrapper {
  /* background-color: #e5e5e5; */
  width: 975px;
  height: 336px;
  position: absolute;
  left: 22.27%;
  right: 1.56%;
  top: 18.86%;
  bottom: 54.52%;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  border: 3px solid #000000;
}