.heading {
    position: relative;
  }
  
  /* .pichart {
    position: absolute;
    bottom: 70px;
  } */
  
  /* .donut-chart {
    width: 335px;
    height: 279px;

    background: #FBFCFD;
    border: 1px solid #EBF0F5;
    box-sizing: border-box;
    border-radius: 6px;
    left: 23.44%;
    right: 54.14%;
    top: 22.19%;
    bottom: 55.71%;
  }
  
  .donut-chart-title {
    font: roboto;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #1E1E2D;
  }
  
  .donut-chart-graph {
    width: 165.97;
    height: 165.97;

  }

  .label-style {
    width: 67px;
    height: 12px;
    color: #C2C2C2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
  } */