/* /* .heading {
    position: relative;
  }
  
  .pichart {
    position: absolute;
    bottom: 70px;
  } */

  /* .pie-chart {
    width: 287px;
    height: 279px;
    background: #FBFCFD;
    border: 1px solid #EBF0F5;
    box-sizing: border-box;
    border-radius: 6px;
    /* position: absolute; */
  
  
  
  /* .pie-chart-title {
    font: roboto;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #1E1E2D;
  } */
  
  /* .pie-chart-graph {
    width: 150.82px;
    height: 150.82px;
 
  }  */