/* .vertical-graph-title {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #1E1E2D;
} */

/* .vertical-graph {
    width: 287px;
    height: 279px;
    background: #FBFCFD;
    border: 1px solid #EBF0F5;
    box-sizing: border-box;
    border-radius: 6px;
    left: 23.44%;
    right: 54.14%;
    top: 22.19%;
    bottom: 55.71%;
} */