/* .modal-dialog {
    width: 1280px;
    height: 797px;
}

.modal-content {
    width: 1280px
} */

/* .col-1 {
    width: 265px;
    height: 206px;
}

.col-2 {
    width: 735px;
    height: 206px;
} */